<h1><%= markdown_to_html @post.title %></h1>
<%= image_tag(@post.image.profile.url) if @post.image? %>

<div class="row">
  <div class="col-md-8">
     <small>
       <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
       submitted <%= time_ago_in_words(@post.created_at) %> ago by
       <%= @post.user.name %>
     </small>
    <p><%= markdown_to_html @post.body %></p>
    <h3>Comments:</h3>
    <%= render @comments %>
    <% if policy(@comments).create? %>
      <%= render partial: 'comments/form', locals: {topic: @topic, post: @post } %>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic,@post), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
